<div class="row p-3 m-0 justify-content-between align-items-center bg-white">
  <div class="col-auto pointer-cursor" routerLink="products/all">Logo</div>
  <div class="col-auto">
    <nav class="row justify-content-end">
      <div class="col-auto m-2 pointer-cursor">
        <div routerLink="/orders">
          <fa name="hamburger" class="nav-icons"></fa>My Orders
        </div>
      </div>
      <div class="col-auto m-2 pointer-cursor">
        <fa name="address-card" class="nav-icons"></fa> Manage Address
      </div>
      <div class="col-auto m-2 pointer-cursor">
        <app-cart></app-cart>
      </div>
      <div ngbDropdown class="col-auto m-2 pointer-cursor">
        <div id="dropdownBasic1" ngbDropdownToggle>
          <fa name="user" class="nav-icons"></fa> Chandra
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Logout</button>
          <!-- <button ngbDropdownItem [routerLink]="['admin', 'completed-orders']">Completed Orders</button>
          <button ngbDropdownItem [routerLink]="['admin', 'products']" >Products</button> -->
        </div>
      </div>
    </nav>
  </div>
</div>
