<div class="row p-0 m-0">
  <div class="col-8 py-3">
    <div class="cart-products bg-white p-3">
      <h3>Your Order Details</h3>
      <br />
      <div *ngFor="let product of cartProducts | async">
        <app-product-horizontal-view
          [product]="product"
        ></app-product-horizontal-view>
      </div>
      <div class="row justify-content-between m-2">
        <div class="col-auto">
          <strong> Total: &#8377;{{ orderTotal | async }} </strong>
        </div>
        <div class="col-auto">
          <button class="btn btn-success">Make Payment</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 py-3">
    <div class="bg-white p-3">
      <h3>Deliver To:</h3>
      <mat-radio-group (change) = "updateDeliveryAddress($event)">
        <div class="p-2 m-2" *ngFor="let address of addresses | async">
          <mat-radio-button [value]="address.addressId"  [checked] = "address.active">
            <div class="text-muted">{{ address.name }}</div>
          </mat-radio-button>
          <div>{{ address.address }}</div>
        </div>
      </mat-radio-group>
    </div>
  </div>
</div>
