<div class="row">
  <div class="col-3">
    <div class="categories p-3">
      <div
        class="border rounded bg-white m-2 p-3"
        [routerLink]="['/shop/','products', 'all']"
        [routerLinkActive]="'active'"
      >
        All
      </div>
      <div
        class="border rounded bg-white m-2 p-3"
        *ngFor="let category of productCategories"
        [routerLink]="['/shop','products', category]"
        [routerLinkActive]="'active'"
      >
        {{ category }}
      </div>
    </div>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
